.wrapper {
  display: block;
  margin: auto;
  padding: 1.5em;

  -webkit-box-shadow: 7px 7px 25px 0px #b8b8b8;
  -moz-box-shadow: 7px 7px 25px 0px #b8b8b8;
  box-shadow: 7px 7px 25px 0px #b8b8b8;
}

.wrapper h1 {margin-top: 0}
